<app-navbar xmlns=""></app-navbar>
<div class="container">
  <nav style="margin: 15px" class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home"><i class="fas fa-home"></i> Home</a></li>
          <li><a href="candidate-list"><b><i class="fas fa-list"></i> Candidate List</b><span class="sr-only">(current)</span></a></li>
          <li *ngIf="authService.isLoggedIn()"><a href="vote-page"> <i class="fas fa-list"></i> Vote Now</a></li>
          <li *ngIf="authService.isAdmin()"><a href="voter-list"> <i class="fas fa-list"></i> Voters List</a></li>
          <li *ngIf="authService.isAdmin()"><a href="canvassing-report"><i class="far fa-chart-bar"></i>  Canvassing Report</a></li>
          <!--<li *ngIf="authService.isAdmin()"><a href="#"> <i class="fas fa-history"></i>  History Log</a></li>-->
          <li><a href="#"><i class="fab fa-adn"></i> About</a></li>
        </ul>

        <form class="navbar-form navbar-right">
          <button  *ngIf="!authService.isLoggedIn()" (click)="loginPage()" type="submit" class="btn btn-warning">User Login</button>
          <button  *ngIf="!authService.isLoggedIn()" (click)="adminPage()" type="submit" class="btn btn-sm btn-warning">Admin Login</button>
          <button *ngIf="authService.isLoggedIn()" (click)="logOut()" type="submit" class="btn btn-warning">Logout</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div *ngIf="voter.status">
    <h3>
      Thank you
      {{voter.firstName}} {{voter.middleName}} {{voter.lastName}}
      for submitting vote!
    </h3>
  </div>

  <!--slide show starts-->
  <div class="slideShow">
    <div id="container2">
      <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="items"
        [width]="620"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      > </div>


      <ng-template #prev>
        <img width="40px" height="40px" src="assets/images/left-arrow.png" id="left" />
      </ng-template>
      <ng-template #next>
        <img width="40px" height="40px" src="assets/images/right-arrow.png" id="right" />
      </ng-template>

      <ng-template #item let-item let-i="index">
        <div class="items2">
          <img class="image_show" src="{{ item.name }}">
        </div>
      </ng-template>

      <div class="photoGallery">
        Photo Gallery
      </div>
    </div>
  </div>
    <!--slide show ends-->


  <div class="mission mission1">
    <div class="home-title">
      Our Mission
    </div>
    <div class="home_description">
      Our mission is to digitize the voting process of <b>Teachers Association</b>
      of <b>University of Rajshahi</b>. To cope with the development of the country,
      teachers association electing is arranged online to simplify, easy and fast
      the voting process.
    </div>
  </div>

  <div class="mission mission2 ">
    <div class="home-title">
      Objectives
    </div>
    <div class="home_description">
      <li>Reviewing the existing voting approach.</li>
      <li>Coming up with an automated  voting system </li>
      <li>Implementing  an automated/ E-voting system </li>
      <li>Validating the system to ensure that only eligible voters are allowed to vote</li>
    </div>
  </div>

</div>
