.footer {
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
}

.border {
  border-top: 1px solid black;
}

.copyRight {
  margin-left: 40%;
}

.links {
  margin-left: 48%;
}

@media screen and (max-width: 700px) {
  .copyRight {
    margin-left: 20%;

  }
  .footer {
    max-width: 100%;
  }
  .links {
    margin-left: 25%;
  }
}

@media screen and (max-width: 310px) {
  .copyRight {
    margin-left: 0%;
  }
  .links {
    margin-left: 5%;
  }
}
