<app-navbar></app-navbar>

<div class="container">


  <!--navigation starts here-->
  <nav  class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home"><i class="fas fa-home"></i> Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="candidate-list"><b><i class="fas fa-list"></i> Candidate List</b><span class="sr-only">(current)</span></a></li>
          <li class="active" *ngIf="!authService.isAdmin() && authService.isLoggedIn()"><a href="vote-page"> <i class="fas fa-list"></i> Vote Now</a></li>
          <li *ngIf="authService.isAdmin()"><a href="voter-list"> <i class="fas fa-list"></i> Voters List</a></li>
          <li *ngIf="authService.isAdmin()"><a href="canvassing-report"><i class="far fa-chart-bar"></i>  Canvassing Report</a></li>
          <!--<li *ngIf="authService.isAdmin()"><a href="#"> <i class="fas fa-history"></i>  History Log</a></li>-->
          <li><a href="about"><i class="fab fa-adn"></i> About</a></li>
        </ul>

        <form class="navbar-form navbar-right">
          <button  *ngIf="!authService.isLoggedIn()" (click)="loginPage()" type="submit" class="btn btn-warning">User Login</button>
          <button  *ngIf="!authService.isLoggedIn()" (click)="adminPage()" type="submit" class="btn btn-sm btn-warning">Admin Login</button>
          <button *ngIf="authService.isLoggedIn()" (click)="logOut()" type="submit" class="btn btn-warning">Logout</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--navigation ends here-->

  <div class="row grid">

    <div class="panel panel-info">
      <div class="panel-heading"><h2 style="text-align: center; font-family:'Fira Code Light'">Candidate for Member</h2></div>

      <div class="member">
        <b>Rule 1: </b> You can vote maximum 10 members of different department.
        Your can vote more {{ rem_vote }} candidates
      </div>

      <div class="member">
        <b>Rule 2: </b> On this page you can submit your vote only a time.
        So before leaving this page please confirm that you selected your
        desired candidates and you have clicked on submit button.
      </div>

      <div class="panel-body">

        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 card grid-item" *ngFor="let candidate of candidates">
          <div class="thumbnail">
            <img  (click)="viewCandidate(candidate)" src="http://localhost:8080/{{candidate.picture}}" class="image">
            <div   (click)="viewCandidate(candidate)" class="caption">
              <h4 class="card-title showTwo" id="name">
                {{ candidate.firstName }} {{ candidate.middleName }} {{ candidate.lastName }}
              </h4>
              <p class="showOne">Dept : <b>{{ candidate.dept }}</b></p>
            </div>
            <div  class="caption card-footer">
              <ul class="list-inline">
                <li><button  (click)="vote_add(candidate)" *ngIf="!vote_local && !vote_status"  class="btn btn-success">
                  <i class="fas fa-thumbs-up"></i> Vote this<br/> candidate
                </button></li>
              </ul>
            </div>
          </div>
        </div>
        <h4>{{message}}</h4>

      </div>

      <div class="wrapper">
        <button (click)="vote_submit()" *ngIf="!vote_local && !vote_status"  class="button button1">
          <i class="fas fa-thumbs-up"></i> submit vote
        </button>
      </div><br>

    </div>

  </div><!-- row -->


  <ul class="pagination">
    <li ><a href="vote-page">President</a></li>
    <li ><a href="vice-president">Vice President</a></li>
    <li><a href="general-secretary">General Secretary</a></li>
    <li><a href="joint-secretary">Joint Secretary</a></li>
    <li><a href="treasurer">Treasurer</a></li>
    <li class="active"><a href="member">Members</a></li>

  </ul>

</div> <!-- container grid -->



