.image {
  width: 100%;
  height: 140px;
}

.thumbnail {
  min-height: 330px;
}

.thumbnail:hover {
  background-color: rgb(245,245,245);
}

.thumbnail:hover {
  background-color: rgb(245,245,245);
}

.showTwo {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

.showOne {
  line-height: 1.5em;
  /*height: 3em;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.wrapper {
  text-align: center;
}

.button {
  /*position: absolute;*/
  /*top: 50%;*/
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.member {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(245,245,245);
  font-size: 130%;
}

@media screen and (max-width: 800px) {
  .image {
    width: 100%;
    height: 100%;
  }
}
