<app-navbar xmlns=""></app-navbar>
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="home"><i class="fas fa-home"></i> Home</a></li>
          <li><a href="candidate-list"><b><i class="fas fa-list"></i> Candidate List</b><span class="sr-only">(current)</span></a></li>
          <li *ngIf="authService.isLoggedIn()"><a href="vote-page"> <i class="fas fa-list"></i> Vote Now</a></li>
          <li *ngIf="authService.isAdmin()"><a href="voter-list"> <i class="fas fa-list"></i> Voters List</a></li>
          <li *ngIf="authService.isAdmin()"><a href="canvassing-report"><i class="far fa-chart-bar"></i>  Canvassing Report</a></li>
          <!--<li *ngIf="authService.isAdmin()"><a href="#"> <i class="fas fa-history"></i>  History Log</a></li>-->
          <li class="active"><a href="about"><i class="fab fa-adn"></i> About</a></li>
        </ul>

        <form class="navbar-form navbar-right">
          <button  *ngIf="!authService.isLoggedIn()" (click)="loginPage()" type="submit" class="btn btn-warning">User Login</button>
          <button  *ngIf="!authService.isLoggedIn()" (click)="adminPage()" type="submit" class="btn btn-sm btn-warning">Admin Login</button>
          <button *ngIf="authService.isLoggedIn()" (click)="logOut()" type="submit" class="btn btn-warning">Logout</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="mission1 mission">
    <div class="home-title">
      About this platform
    </div>
    <div class="home_description">
      <b>E-voting</b> system is designed to enable Electoral
      Authority of the teachers to use capture (teachers) voter’s information.
      The design cover security issues like authenticating
      the ID number and Password of the voters (teachers) through integrating
      the ID and password database to the voters’ registration process
      and also capturing the picture of the electorates for validation during election.
      The project covers all common electoral supports/functionality to voter
      and authority.<br>
      This surely increases the voting percentage in university. E-Voting System
      will be fast enough to calculate the results and reduce the human efforts,
      as all the things will be automated.
    </div>
  </div>

  <div class="mission1 mission">
    <div class="home-title">
      Contact Us
    </div>
    <div class="home_description"><br>
      <i class="fas fa-phone"></i>&nbsp;&nbsp; Tel - <b>880 721 750244 </b><br>
      <i class="fa fa-fax"></i>&nbsp;&nbsp; Fax - <b>880 721 750064 </b><br>
      <i class="fas fa-envelope"></i>&nbsp;&nbsp; Email - <b>registrar@ru.ac.bd</b><br>
      <i class="fa fa-globe"></i>&nbsp;&nbsp; Web - <a href="http://www.ru.ac.bd/"  target="_blank"><b>ru.ac.bd</b></a><br>
      <i class="fa fa-map-marker"></i>&nbsp;&nbsp; Address: <b>Rajshahi - Dhaka Highway, Rajshahi 6205</b><br>
      <b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;University of Rajshahi, Bangladesh</b>
    </div>
  </div>
</div>
